<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hand.dao.LogMapper" >
  <resultMap id="BaseResultMap" type="com.hand.entity.Log" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="operation_user_id" property="operationUserId" jdbcType="INTEGER" />
    <result column="operation_username" property="operationUsername" jdbcType="VARCHAR" />
    <result column="operation_address" property="operationAddress" jdbcType="VARCHAR" />
    <result column="operation_description" property="operationDescription" jdbcType="VARCHAR" />
    <result column="operation_param" property="operationParam" jdbcType="VARCHAR" />
    <result column="operation_ip" property="operationIp" jdbcType="VARCHAR" />
    <result column="operation_date" property="operationDate" jdbcType="DATE" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, operation_user_id, operation_username, operation_address, operation_description, 
    operation_param, operation_ip, operation_date
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from log
    where id = #{id,jdbcType=INTEGER}
  </select>
  <select id="selectAllByParam" resultMap="BaseResultMap" parameterType="com.hand.entity.LogQueryParam" >
    select
    <include refid="Base_Column_List" />
    from log where 1=1
      <if test="userName != null" >
        and operation_username like #{userName,jdbcType=VARCHAR}
      </if>
      <if test="afterDate != null and beforeDate != null" >
        and operation_date BETWEEN #{afterDate,jdbcType=VARCHAR} and #{beforeDate,jdbcType=DATE}
      </if>
  </select>
  <select id="selectLogForDate" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from log where operation_date BETWEEN #{afterDate,jdbcType=DATE} and #{beforeDate,jdbcType=DATE}
    limit #{page,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
  </select>
  <select id="selectLogForUser" resultMap="BaseResultMap" parameterType="java.util.HashMap" >
    select
    <include refid="Base_Column_List" />
    from log where operation_username like #{username,jdbcType=VARCHAR}
    limit #{page,jdbcType=INTEGER}, #{size,jdbcType=INTEGER}
  </select>
  <select id="selectTotalSize" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select count(*) from log
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from log
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hand.entity.Log" >
    insert into log (id, operation_user_id, operation_username, 
      operation_address, operation_description, 
      operation_param, operation_ip, operation_date
      )
    values (#{id,jdbcType=INTEGER}, #{operationUserId,jdbcType=INTEGER}, #{operationUsername,jdbcType=VARCHAR}, 
      #{operationAddress,jdbcType=VARCHAR}, #{operationDescription,jdbcType=VARCHAR}, 
      #{operationParam,jdbcType=VARCHAR}, #{operationIp,jdbcType=VARCHAR}, #{operationDate,jdbcType=DATE}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.hand.entity.Log" >
    insert into log
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="operationUserId != null" >
        operation_user_id,
      </if>
      <if test="operationUsername != null" >
        operation_username,
      </if>
      <if test="operationAddress != null" >
        operation_address,
      </if>
      <if test="operationDescription != null" >
        operation_description,
      </if>
      <if test="operationParam != null" >
        operation_param,
      </if>
      <if test="operationIp != null" >
        operation_ip,
      </if>
      <if test="operationDate != null" >
        operation_date,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="operationUserId != null" >
        #{operationUserId,jdbcType=INTEGER},
      </if>
      <if test="operationUsername != null" >
        #{operationUsername,jdbcType=VARCHAR},
      </if>
      <if test="operationAddress != null" >
        #{operationAddress,jdbcType=VARCHAR},
      </if>
      <if test="operationDescription != null" >
        #{operationDescription,jdbcType=VARCHAR},
      </if>
      <if test="operationParam != null" >
        #{operationParam,jdbcType=VARCHAR},
      </if>
      <if test="operationIp != null" >
        #{operationIp,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        #{operationDate,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hand.entity.Log" >
    update log
    <set >
      <if test="operationUserId != null" >
        operation_user_id = #{operationUserId,jdbcType=INTEGER},
      </if>
      <if test="operationUsername != null" >
        operation_username = #{operationUsername,jdbcType=VARCHAR},
      </if>
      <if test="operationAddress != null" >
        operation_address = #{operationAddress,jdbcType=VARCHAR},
      </if>
      <if test="operationDescription != null" >
        operation_description = #{operationDescription,jdbcType=VARCHAR},
      </if>
      <if test="operationParam != null" >
        operation_param = #{operationParam,jdbcType=VARCHAR},
      </if>
      <if test="operationIp != null" >
        operation_ip = #{operationIp,jdbcType=VARCHAR},
      </if>
      <if test="operationDate != null" >
        operation_date = #{operationDate,jdbcType=DATE},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hand.entity.Log" >
    update log
    set operation_user_id = #{operationUserId,jdbcType=INTEGER},
      operation_username = #{operationUsername,jdbcType=VARCHAR},
      operation_address = #{operationAddress,jdbcType=VARCHAR},
      operation_description = #{operationDescription,jdbcType=VARCHAR},
      operation_param = #{operationParam,jdbcType=VARCHAR},
      operation_ip = #{operationIp,jdbcType=VARCHAR},
      operation_date = #{operationDate,jdbcType=DATE}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>